.noscrollbar::-webkit-scrollbar {
  display: none;
}

.canban-column {
  min-width: 12rem;
  margin: 0 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  float: left;
  border-top: 6px solid #1ba39c;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 850px) {
  .canban-column {
    width: auto;
    flex-direction: column;
    min-height: calc(100vh / 5);
  }
}
